@model Alumno;
@{
    ViewData["Title"] = "Información Alumno";
    Layout = "Simple";
}

<h1>VISTA INDEX DE CONTROLLER ASIGNATURA</h1>
<table class="table bg-info">
    <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Description</th>
            <th scope="col">Photo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.UniqueId</th>
            <td>@Model.Nombre</td>
            <td>@Model.Apellidos</td>
            <td>@Model.Descripción</td>
            <td>
                <img class="img-thumbnail" style="width:4rem"
        src="https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 2520w"alt="imagen">
        </td>
        </tr>        
    </tbody>
</table>