@model Alumno;
@{
    ViewData["Title"] = "Información Alumno";
    Layout = "Simple";
}

<h1>VISTA INDEX DE CONTROLLER ASIGNATURA</h1>
<strong>Desde la vista normal</strong>
<div class="card" style="width: 18rem;">
<img class="img-fluid" src="https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 2520w" class="card-img-top" alt="imagen">
<div class="card-body">
    <h5 class="card-title">@Model.Nombre</h5>
    <p class="card-text">
        <h5 class="fw-bold">Id Asignatura</h5>
        @Model.UniqueId
    </p>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item fw-bold">@Model.Descripción</li>
    <li class="list-group-item">Fecha Actual</li>
    <li class="list-group-item">nada</li>
</ul>
<div class="card-body">
    <a href="#" class="card-link">nada</a>
    <a href="#" class="card-link">nada</a>
</div>
</div>

<strong>Desde la vista PARCIAL</strong>
<partial name = "ObjetoEscuelaSimple"/>