@model List<Alumno>;

<!--Esta vista espera recibir una Lista de asignaturas-->
<h1>VISTA MULTIALUMNO DE CONTROLLER ALUMNO</h1>
<strong class="text-white">Desde la vista PARCIAL</strong>
<partial name = "ListaObjetoEscuela"/>
