@model List<Alumno>;

<!--Esta vista espera recibir una Lista de asignaturas-->
<h1>VISTA MULTIALUMNO DE CONTROLLER ALUMNO</h1>
@foreach (var alumno in Model)
{
<strong class="text-white">Desde la vista PARCIAL</strong>
<partial name = "ObjetoAlumnoSimple" model = "alumno"/>
}